
.services-list
  .row.services
    .large-12.columns
      %h1.text-center Services
      
  .row.ror
    .large-3.small-8.small-centered.large-uncentered.columns
      .image
        = image_tag '400x400/ror.jpg'
    .large-6.small-8.small-centered.large-uncentered.columns.end
      %h3 Ruby on Rails Development
      We offer complete end-to-end development in the framework of our choice, Rails.
      
  .row.devops
    .large-6.small-8.small-centered.large-uncentered.large-push-6.columns
      .image
        = image_tag '400x400/devops.png'
    .large-6.small-8.small-centered.large-uncentered.large-pull-6.columns
      .descr
        %h3 Devops
        We offer full automation solutions in our framework of choice, Opscode Chef.

  .row.html5
    .large-4.small-8.small-centered.large-uncentered.columns
      .image
        = image_tag '400x400/html5.jpg'
    .large-6.small-8.small-centered.large-uncentered.columns.end
      .descr
        %h3 Single-page apps
        We offer front-end web development using angular.js and modern front-end technologies such as html5, svg, and responsive web.

  .row.project-management
    .large-5.large-push-6.large-uncentered.small-8.small-centered.columns
      .image
        = image_tag '400x400/project_management.jpg'
    .large-6.large-pull-5.large-uncentered.small-8.small-centered.columns
      .descr
        %h3 Project Management
        Need help taking your project off the ground? We have a decade of experience managing mid-size software projects. We can provide you a recommendation on how to manage yours!

  .row.nodejs
    .large-5.small-8.small-centered.large-uncentered.columns
      .image
        = image_tag '400x400/nodejs.png'
    .large-7.small-8.small-centered.large-uncentered.columns
      %h3 Node.js Development
      We also offer web development of the full javascript stack: express.js, node.js, angular.js, API design, and deployment of the integrated solution.

  .row.uiux
    .large-3.large-push-9.small-8.small-centered.large-uncentered.columns
      .image
        = image_tag '400x400/uiux.jpg'
    .large-9.large-pull-3.small-8.small-centered.large-uncentered.columns
      .descr
        %h3 UI/UX development
        We offer to create mockups and prototypes from business requirements - beautiful User Interfaces, functionally correct and usable to the highest degree.
      
