
.services-list
  .row
    .large-12.columns
      %h1.text-center Services
      
  .row
    .large-3.columns
      .text-right
        = image_tag 'ror.jpg'
    .large-6.columns.end
      %h3 Ruby on Rails Development
      We offer complete end-to-end development in the framework of our choice, Rails.
      
  .row
    .large-6.columns
      .text-right
        %h3 Devops
        We offer full automation solutions in our framework of choice, Opscode Chef.
    .large-6.columns
      = image_tag 'devops.png'

  .row
    .large-4.columns
      .text-right
        = image_tag 'html5.png'
    .large-6.columns.end
      %h3 Single-page apps
      We offer front-end web development using angular.js and modern front-end technologies such as html5, svg, and responsive web.

  .row
    .large-6.large-push-1.columns
      .text-right
        %h3 Project Management
        Need help taking your project off the ground? We have a decade of experience managing mid-size software projects. We can provide you a recommendation on how to manage yours!
    .large-5.columns
      = image_tag 'pm.jpg'

  .row
    .large-5.columns
      .text-right
        = image_tag 'nodejs.png'
    .large-7.columns
      %h3 Node.js Development
      We also offer web development of the full javascript stack: express.js, node.js, angular.js, API design, and deployment of the integrated solution.

  .row
    .large-9.columns
      .text-right
        %h3 UI/UX development
        We offer to create mockups and prototypes from business requirements - beautiful User Interfaces, functionally correct and usable to the highest degree.
    .large-3.columns
      = image_tag 'uiux.jpg'
      
    %br
    %br
    %br
    %br
    %br
    %br
    %br
    %br
    %br
    %br
    %br
    %br
    %br
    %br
    %br
    %br
    %br
    %br
    %br
    %br
    %br
    %br
    %br
    %br
    %br
    %br
    %br
    %br
    %br
    %br

